In [2]:
import os

if not os.path.exists('../data/Hotel_Reviews.csv'):
    ! curl -L -o ../data/515k-hotel-reviews-data-in-europe.zip https://www.kaggle.com/api/v1/datasets/download/jiashenliu/515k-hotel-reviews-data-in-europe
    !unzip ../data/515k-hotel-reviews-data-in-europe.zip -d ../data/
else:
    print("File already exists, skipping unzip.")
! rm  ../data/515k-hotel-reviews-data-in-europe.zip

File already exists, skipping unzip.
rm: cannot remove '../data/515k-hotel-reviews-data-in-europe.zip': No such file or directory

In [3]:
import pandas as pd

df = pd.read_csv('../data/Hotel_Reviews.csv')
df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

In [4]:
df.drop(['lat','lng'], axis=1, inplace=True)
df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day

In [5]:
df.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review'],
      dtype='object')

In [6]:
def replace_address(row):
    if "Netherlands" in row["Hotel_Address"]:
        return "Amsterdam, Netherlands"
    elif "Barcelona" in row["Hotel_Address"]:
        return "Barcelona, Spain"
    elif "United Kingdom" in row["Hotel_Address"]:
        return "London, United Kingdom"
    elif "Milan" in row["Hotel_Address"]:        
        return "Milan, Italy"
    elif "France" in row["Hotel_Address"]:
        return "Paris, France"
    elif "Vienna" in row["Hotel_Address"]:
        return "Vienna, Austria"

In [7]:
# Replace all the addresses with a shortened, more useful form
df["Hotel_Address"] = df.apply(replace_address, axis = 1)

In [8]:
# The sum of the value_counts() should add up to the total number of reviews
print(df["Hotel_Address"].value_counts())

Hotel_Address
London, United Kingdom    262301
Barcelona, Spain           60149
Paris, France              59928
Amsterdam, Netherlands     57214
Vienna, Austria            38939
Milan, Italy               37207
Name: count, dtype: int64

In [9]:
display(df.groupby('Hotel_Address').agg({'Hotel_Name':'nunique'}))

                        Hotel_Name
Hotel_Address
Amsterdam, Netherlands         105
Barcelona, Spain               211
London, United Kingdom         400
Milan, Italy                   162
Paris, France                  458
Vienna, Austria                158

In [10]:
# Drop Additional_Number_of_Scoring 
df.drop(["Additional_Number_of_Scoring"], axis = 1, inplace=True)

In [11]:
# Replace Total_Number_of_Reviews with the total number of reviews for that hotel that are actually in the dataset 
df['Total_Number_of_Reviews'] = df.groupby('Hotel_Name').Hotel_Name.transform('count')
df['Average_Score'] = round( df.groupby('Hotel_Name').Reviewer_Score.transform('mean') ,1)

In [12]:
df

,Hotel_Address,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review
0,"Amsterdam, Netherlands",8/3/2017,7.8,Hotel Arena,Russia,I am so angry that i made this post available...,397,405,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,"Amsterdam, Netherlands",8/3/2017,7.8,Hotel Arena,Ireland,No Negative,0,405,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
2,"Amsterdam, Netherlands",7/31/2017,7.8,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,405,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days
3,"Amsterdam, Netherlands",7/31/2017,7.8,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,405,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days
4,"Amsterdam, Netherlands",7/24/2017,7.8,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,405,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,"Vienna, Austria",8/30/2015,7.8,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,325,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day
515734,"Vienna, Austria",8/22/2015,7.8,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,325,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day
515735,"Vienna, Austria",8/19/2015,7.8,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,325,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day
515736,"Vienna, Austria",8/17/2015,7.8,Atlantis Hotel Vienna,Mexico,No Negative,0,325,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day
515737,"Vienna, Austria",8/9/2015,7.8,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,325,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day

In [13]:
df.drop(['Review_Total_Negative_Word_Counts', 'Review_Total_Positive_Word_Counts', 'Review_Date', 'days_since_review'], axis=1, inplace= True)

In [14]:
df

,Hotel_Address,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Total_Number_of_Reviews,Positive_Review,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags
0,"Amsterdam, Netherlands",7.8,Hotel Arena,Russia,I am so angry that i made this post available...,405,Only the park outside of the hotel was beauti...,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
1,"Amsterdam, Netherlands",7.8,Hotel Arena,Ireland,No Negative,405,No real complaints the hotel was great great ...,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
2,"Amsterdam, Netherlands",7.8,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,405,Location was good and staff were ok It is cut...,9,7.1,"[' Leisure trip ', ' Family with young childre..."
3,"Amsterdam, Netherlands",7.8,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,405,Great location in nice surroundings the bar a...,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex..."
4,"Amsterdam, Netherlands",7.8,Hotel Arena,New Zealand,You When I booked with your company on line y...,405,Amazing location and building Romantic setting,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St..."
...,...,...,...,...,...,...,...,...,...,...
515733,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,325,location,8,7.0,"[' Leisure trip ', ' Family with older childre..."
515734,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,325,Breakfast was ok and we got earlier check in,12,5.8,"[' Leisure trip ', ' Family with young childre..."
515735,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,325,No Positive,3,2.5,"[' Leisure trip ', ' Family with older childre..."
515736,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Mexico,No Negative,325,The rooms are enormous and really comfortable...,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl..."
515737,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,325,staff was very kind,1,8.3,"[' Leisure trip ', ' Family with young childre..."

In [15]:
df.drop(['Total_Number_of_Reviews_Reviewer_Has_Given'], axis=1, inplace= True)
df

,Hotel_Address,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Total_Number_of_Reviews,Positive_Review,Reviewer_Score,Tags
0,"Amsterdam, Netherlands",7.8,Hotel Arena,Russia,I am so angry that i made this post available...,405,Only the park outside of the hotel was beauti...,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
1,"Amsterdam, Netherlands",7.8,Hotel Arena,Ireland,No Negative,405,No real complaints the hotel was great great ...,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
2,"Amsterdam, Netherlands",7.8,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,405,Location was good and staff were ok It is cut...,7.1,"[' Leisure trip ', ' Family with young childre..."
3,"Amsterdam, Netherlands",7.8,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,405,Great location in nice surroundings the bar a...,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex..."
4,"Amsterdam, Netherlands",7.8,Hotel Arena,New Zealand,You When I booked with your company on line y...,405,Amazing location and building Romantic setting,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St..."
...,...,...,...,...,...,...,...,...,...
515733,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,325,location,7.0,"[' Leisure trip ', ' Family with older childre..."
515734,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,325,Breakfast was ok and we got earlier check in,5.8,"[' Leisure trip ', ' Family with young childre..."
515735,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,325,No Positive,2.5,"[' Leisure trip ', ' Family with older childre..."
515736,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Mexico,No Negative,325,The rooms are enormous and really comfortable...,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl..."
515737,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,325,staff was very kind,8.3,"[' Leisure trip ', ' Family with young childre..."

In [16]:
# Remove opening and closing brackets
df.Tags = df.Tags.str.strip("[']")
# remove all quotes too
df.Tags = df.Tags.str.replace(" ', '", ",", regex = False)

In [17]:
df.Tags

0          Leisure trip, Couple, Duplex Double Room, Sta...
1          Leisure trip, Couple, Duplex Double Room, Sta...
2          Leisure trip, Family with young children, Dup...
3          Leisure trip, Solo traveler, Duplex Double Ro...
4          Leisure trip, Couple, Suite, Stayed 2 nights,...
                                ...
515733     Leisure trip, Family with older children, 2 r...
515734     Leisure trip, Family with young children, Sta...
515735     Leisure trip, Family with older children, 2 r...
515736     Leisure trip, Group, Standard Triple Room, St...
515737     Leisure trip, Family with young children, 2 r...
Name: Tags, Length: 515738, dtype: object

In [18]:
df_tags = df['Tags'].str.split(',', expand=True)

In [19]:
df_tags

,0,1,2,3,4,5
0,Leisure trip,Couple,Duplex Double Room,Stayed 6 nights,None,None
1,Leisure trip,Couple,Duplex Double Room,Stayed 4 nights,None,None
2,Leisure trip,Family with young children,Duplex Double Room,Stayed 3 nights,Submitted from a mobile device,None
3,Leisure trip,Solo traveler,Duplex Double Room,Stayed 3 nights,None,None
4,Leisure trip,Couple,Suite,Stayed 2 nights,Submitted from a mobile device,None
...,...,...,...,...,...,...
515733,Leisure trip,Family with older children,2 rooms,Stayed 5 nights,None,None
515734,Leisure trip,Family with young children,Standard Triple Room,Stayed 2 nights,None,None
515735,Leisure trip,Family with older children,2 rooms,Stayed 4 nights,Submitted from a mobile device,None
515736,Leisure trip,Group,Standard Triple Room,Stayed 3 nights,None,None
515737,Leisure trip,Family with young children,2 rooms,Stayed 2 nights,None,None

In [20]:
all_tags = pd.concat([df_tags[col] for col in df_tags], axis= 0)

In [21]:
all_tags

0          Leisure trip
1          Leisure trip
2          Leisure trip
3          Leisure trip
4          Leisure trip
              ...
515733             None
515734             None
515735             None
515736             None
515737             None
Length: 3094428, dtype: object

In [22]:
all_tags = all_tags.str.strip()

In [23]:
all_tags.dropna()

0                           Leisure trip
1                           Leisure trip
2                           Leisure trip
3                           Leisure trip
4                           Leisure trip
                       ...
515387    Submitted from a mobile device
515547    Submitted from a mobile device
515620    Submitted from a mobile device
515632    Submitted from a mobile device
515675    Submitted from a mobile device
Length: 2356592, dtype: object

In [24]:
tag_counts = all_tags.value_counts()
print(tag_counts)

Leisure trip                            417778
Submitted from a mobile device          307640
Couple                                  252294
Stayed 1 night                          193645
Stayed 2 nights                         133937
                                         ...
Superior Double Room with Sofa               1
Townhouse Suite                              1
Double Room Rouge Epic e                     1
Champs Elys es Prestige Junior Suite         1
Stayed 31 nights                             1
Name: count, Length: 2428, dtype: int64

In [25]:
tag_counts[:50]

Leisure trip                      417778
Submitted from a mobile device    307640
Couple                            252294
Stayed 1 night                    193645
Stayed 2 nights                   133937
Solo traveler                     108545
Stayed 3 nights                    95821
Business trip                      82939
Group                              65392
Family with young children         61015
Stayed 4 nights                    47817
Double Room                        35207
Standard Double Room               32248
Superior Double Room               31393
Family with older children         26349
Deluxe Double Room                 24823
Double or Twin Room                22393
Stayed 5 nights                    20845
Standard Double or Twin Room       17483
Classic Double Room                16989
Superior Double or Twin Room       13570
2 rooms                            12393
Stayed 6 nights                     9776
Standard Twin Room                  9745
Single Room                         9670
Twin Room                           8321
Stayed 7 nights                     7399
Executive Double Room               6425
Classic Double or Twin Room         6107
Superior Twin Room                  6064
Deluxe Double or Twin Room          5998
Club Double Room                    5908
Queen Room                          5472
Deluxe King Room                    5357
Superior Queen Room                 4898
Standard Single Room                4615
Junior Suite                        4559
Triple Room                         4493
Superior Room                       4417
Classic Room                        4416
Superior King Room                  4248
Standard Room                       4205
Deluxe Room                         3974
Standard Queen Room                 3533
Double Guest Room                   3437
Deluxe Single Room                  3283
Small Double Room                   3187
Queen Guest Room                    3125
Deluxe Twin Room                    3083
Basic Double Room                   2851
Name: count, dtype: int64

In [26]:
for col in df_tags:
    print(df_tags[col].unique())
    print()

[' Leisure trip' ' Business trip' ' Couple' ' With a pet' ' Solo traveler'
 ' Group' ' Family with young children' ' Family with older children'
 ' Travelers with friends' ' Group ' ' Couple '
 ' Family with young children ']

[' Couple' ' Family with young children' ' Solo traveler' ...
 ' Executive Club Room' ' Superior King Room Non Smoking'
 ' Superior Double Room with Garden View']

[' Duplex Double Room' ' Suite' ' Duplex Twin Room' ...
 ' One Bedroom Suite with Air Conditioning'
 ' Business Double Room 1 Adult'
 ' King Room Mobility Accessible Non Smoking']

[' Stayed 6 nights ' ' Stayed 4 nights ' ' Stayed 3 nights'
 ' Stayed 3 nights ' ' Stayed 2 nights' ' Stayed 1 night '
 ' Stayed 5 nights' ' Stayed 1 night' ' Stayed 7 nights '
 ' Stayed 2 nights ' ' Stayed 4 nights' None ' Duplex Double Room'
 ' Stayed 5 nights ' ' Stayed 10 nights' ' Stayed 14 nights '
 ' Stayed 6 nights' ' Submitted from a mobile device ' ' Stayed 9 nights '
 ' Stayed 7 nights' ' Stayed 11 nights' ' Stayed 10 nights '
 ' Classic Double Room' ' Stayed 8 nights' ' Stayed 8 nights '
 ' Classic Triple Room' ' Stayed 12 nights' ' Stayed 11 nights '
 ' Stayed 14 nights' ' Stayed 16 nights ' ' Stayed 15 nights '
 ' Stayed 13 nights' ' Stayed 18 nights ' ' Deluxe Twin Room'
 ' Stayed 9 nights' ' Stayed 13 nights ' ' Stayed 20 nights'
 ' Junior Suite' ' Stayed 12 nights ' ' Stayed 15 nights'
 ' Studio Double Family' ' Executive Studio City View Family'
 ' Stayed 16 nights' ' Stayed 17 nights ' ' Classic Room'
 ' Superior King Room' ' Superior Double Room' ' Deluxe Studio'
 ' Deluxe King Room' ' 2 rooms' ' Standard Room' ' Classique Double Room'
 ' Double Room' ' Luxury Room with Spa Access'
 ' Superior Double Room with Spa Access' ' Superior Room'
 ' Stayed 23 nights' ' Deluxe Double Room' ' Superior Double or Twin Room'
 ' Small Double Room' ' Stayed 21 nights' ' Cosy Room'
 ' Classic Twin Room' ' Queensgate Twin Room' ' Twin Guest Room'
 ' Queen Guest Room' ' Standard Double Room'
 ' Superior Double Room with Two Double Beds' ' Executive Triple Room'
 ' Executive Double Room' ' Stayed 25 nights' ' Stayed 18 nights'
 ' Queen Room Non Smoking' ' Twin Room Non Smoking' ' Studio Suite'
 ' Deluxe Studio Suite' ' King Room' ' Superior Twin Room'
 ' Standard Twin Room' ' Stayed 21 nights '
 ' Executive Double Room Eiffel Studio D Artiste with view of Paris'
 ' Executive King' ' Stayed 17 nights' ' Suite' ' Luxury Room'
 ' Tower Suite with Lounge Access' ' Double Guest Room'
 ' Classic King Room' ' Premium Room 2 Adults'
 ' Deluxe Double and Single Room' ' Junior Deluxe Twin Room'
 ' Two Adjacent Double Rooms' ' Standard Double Room without Window'
 ' Executive Twin Room' ' Stayed 28 nights' ' Stayed 20 nights '
 ' Deluxe Queen Room' ' Stayed 19 nights' ' Deluxe Room' ' Single Room'
 ' Twin Room with Extra Bed' ' Family Room 2 Adults 1 Child'
 ' Club Double Room' ' Deluxe King Room Balcony with Eiffel Tower View'
 ' Stayed 26 nights' ' Stayed 27 nights' ' Comfort Family Room'
 ' 4 Person Suite' ' Triple Room' ' 2 Connecting Rooms 4 Adults'
 ' Double or Twin Room' ' Classic Queen Room' ' Queen Room' ' Twin Room'
 ' Double Room with Two Double Beds' ' Family Room'
 ' Prestige Double Room' ' Superior Room with Queen Bed'
 ' Superior Room with Queensize Bed and double couch 2 adults 2 children'
 ' Luxury Suite' ' Stayed 22 nights' ' Premium King Room'
 ' Luxury Double Room Mezzanine' ' Classic Double or Twin Room'
 ' Privilege Room with a double bed upper floors'
 ' Standard Room with Double Bed and Sofa Bed' ' Standard'
 ' Standard Double' ' Duplex Junior Suite with Spa access'
 ' Standard Room with Spa access' ' Duplex Suite with Spa Access'
 ' Classic Double or Single Room' ' Standard Room with 2 Single Beds'
 ' Standard Room with 1 Double Bed'
 ' Standard Twin Room with 2 single beds'
 ' Deluxe Double Room with Eiffel Tower view'
 ' Double Room with Eiffel Tower View' ' Stayed 29 nights '
 ' King Hilton Guest Room' ' Twin Hilton Guest Room' ' 3 rooms'
 ' Superior Queen Room' ' Executive King Room with Lounge Access'
 ' Twin Room with Mobile Phone' ' Standard Room with Spa Access'
 ' Executive King Room' ' Superior Family Room 2 Adults 1 Child'
 ' Standard Apartment' ' Stayed 25 nights ' ' Stayed 24 nights '
 ' Stayed 30 nights ' ' Deluxe Single Room' ' Lower Ground Double Room'
 ' Gallery Suite' ' Stayed 30 nights' ' Small Single Room'
 ' Comfort Double Room' ' Superior Room with Queen size bed and Sofa Bed'
 ' Deluxe Eiffel Tower King Room'
 ' Family Room with King Bed and Sofa Bed'
 ' Superior Room with 1 kingsize bed' ' Deluxe Junior Suite'
 ' Standard Double or Twin Room' ' Club Single Room'
 ' Comfort Triple Room' ' Superior Double Room with Balcony and City View'
 ' Superior Room with 1 Queensize Bed and Double Sofa bed'
 ' Classic King Twin Room' ' Classic Single Room' ' Stayed 24 nights'
 ' Superior Room Swimming Pool Hammam Access upon reservation' ' Studio'
 ' Stayed 23 nights ' ' Single Guest Room' ' Royal Mews View King Room'
 ' Stayed 22 nights ' ' Standard Queen Room'
 ' Double Room Disability Access' ' Executive Room' ' One Bedroom Suite'
 ' Two Connecting Double Rooms' ' Deluxe Double or Twin Room' ' Deluxe'
 ' Superior Room with 1 Queen Bed'
 ' Superior Queen Room with 2 Single Sofa Beds' ' Stayed 26 nights '
 ' Stayed 19 nights ' ' Double Deluxe Room' ' Park Deluxe Suite'
 ' Classic Cosy Room' ' Double Room Non Smoking' ' Cosy Double Room'
 ' Double Superior Room' ' Dorsett Double Room' ' Standard Suite'
 ' Classic Double Room with City View' ' Junior Triple Suite'
 ' Junior Suite Courtyard' ' Double Room with Single Bed'
 ' Superior Room with 1 Double Bed and 1 Sofa Bed 1 place'
 ' Standard Room with 1 Double Bed and 1 Sofa Bed' ' Standard Triple Room'
 ' Premier Double Room' ' Premier Twin Room'
 ' King Suite with Sofa Bed 3 Adults' ' Superior Queen Room with Sofa Bed'
 ' Double Room with Arc de Triomphe View a Glass of Champagne'
 ' Small Queen Room'
 ' Standard Room with queen size bed and double sofa bed'
 ' Superior Room with Queensize Bed and Single Sofa Bed'
 ' Standard Room with 1 Queen Bed' ' Double Studio'
 ' Single Room Lower Ground Floor' ' Double or Twin Room Non Smoking'
 ' Amiral Single Room' ' Business Double Room'
 ' Junior Suite with Executive Lounge Access' ' Queen Hilton Guest Room'
 ' Park Deluxe Twin' ' Superior Twin Room with Terrace'
 ' King Deluxe Guest Room' ' Double Room 2 Adults'
 ' Executive Room 2 adults 2 children' ' Double Room 1 Adult'
 ' Family Room with sofa bed' ' Comfort Double or Twin Room'
 ' Double or Twin Room with Extra Bed' ' Premium Double or Twin Room'
 ' Special Offer Double or Twin Room' ' Double or Twin Room 1 or 2 adults'
 ' Double or Twin Room 1 2 Adults' ' Quadruple Room' ' Sextuple Room'
 ' Studio Apartment' ' Stayed 31 nights ' ' Premium Superior Double Room'
 ' Double or Twin Ground Floor'
 ' Twin Room with Free Airport Shuttle Service from 5 00am to 00 30am'
 ' Double Room with Free Airport Shuttle Service from 5 00am to 00 30am'
 ' Twin Room Disability Access'
 ' Standard Queen or Twin Room Lower Ground Floor' ' Chelsea Double Suite'
 ' Marina Double Suite' ' Economy Single Room'
 ' Executive Double or Twin Room'
 ' Classic Guest room 1 King or 2 Twin Single Bed s'
 ' Executive Double Room with Spa Access' ' Premium Triple Room'
 ' Stayed 27 nights ' ' King Room with City View Top floors'
 ' Special Offer Double Twin Room Stay and Park' ' Superior Triple Room'
 ' Standard Room with Queen Bed Renovated' ' Standard Room with Queen Bed'
 ' Standard Double Room with Sofa Bed 3 Adults' ' Deluxe Room Barlow Wing'
 ' Deluxe Double Room with State Opera View' ' Deluxe Double Twin Room'
 ' Superior Double Twin Room'
 ' Superior Double or Twin Room with City View'
 ' Small Double or Twin Room' ' Double Room 1 2 Adults'
 ' Suite with Terrace' ' Double or Twin Room with View'
 ' Deluxe Double Room 1 2 Adults' ' Deluxe Double Room with Private Patio'
 ' Family Room 2 Adults 2 Children' ' Stayed 28 nights '
 ' Room Selected at Check In' ' Premier King Room'
 ' Executive Double Room with Access to Executive Lounge'
 ' Double Queen Waterfront' ' Large Double Room' ' City Room'
 ' Superior King or Twin Room' ' Double Hilton Guestroom'
 ' Premium Double Room' ' Superior Double or Twin Room with Free Wifi'
 ' Apartment' ' Double Room XL' ' X Ordinary Room'
 ' Double or Twin Room with Courtyard View'
 ' Small Double Room Annex building'
 ' Standard Double or Twin Room Annex Building'
 ' Privilege Double or Twin Room with Spa Access'
 ' Classic Double or Twin Room with Spa Access'
 ' Comfort Double or Twin Room with Rambla View' ' King Guest Room'
 ' Superior Twin Room with Park View'
 ' Superior Double Room with City View'
 ' Superior Double or Twin Room with Garden View' ' penta Standard Room'
 ' penta Plus Room' ' Business Apartment with Public Transport Ticket'
 ' Comfort Double Room with Extra Bed' ' Standard Quadruple Room'
 ' Superior Double or Twin Room 1 2 Adults' ' City Twin Room'
 ' Suite with Spa Access 2 Adults' ' Double Room with Balcony'
 ' Deluxe Garden Room' ' Deluxe Double or Twin Room with City View'
 ' Junior Suite 1 2 Adults' ' Luxury Double Room'
 ' Twin Room with Spa Bath' ' Deluxe Suite' ' Suite with Hot Tub'
 ' Deluxe Double or Twin Room 2 adults 1 child' ' Cool Corner Suite'
 ' Wonderful Double or Twin Room' ' Hyatt Queen Room' ' Cozy Room'
 ' Double Room Cosy' ' Large Garden View King' ' Family Room 4 People'
 ' Deluxe King or Twin Room' ' Standard Single Room'
 ' Special Offer Deluxe Room' ' Classic Room with Courtyard View'
 ' Executive Room with City View' ' Economy Double Room'
 ' Business Double or Twin Room'
 ' Superior Double or Twin Room with Terrace' ' Classic Suite'
 ' Comfort Room' ' Business Double Room with WiFi and Breakfast'
 ' Special Offer Superior Double Room' ' Economy Plus Double Room'
 ' Superior Double or Twin Room with View' ' Double Room with City View'
 ' Double Room with Courtyard View' ' Double Room with Terrace'
 ' Mandarin Double or Twin Room' ' Suite 3 Adults'
 ' Family Junior Suite 3 Adults 1 Child' ' Family Room 3 Adults'
 ' King Junior Suite with Executive Lounge Access'
 ' Superior Room with Double Bed and Sofa Bed' ' King Room Non Smoking'
 ' Double Room Annex' ' Superior Single Room'
 ' Standard Room with 1 Kingsize Bed' ' Deluxe Double Room with Terrace'
 ' Double or Twin Room with City View' ' Nhow Double or Twin Room'
 ' Junior Suite 3 Adults' ' Junior Suite 2 Adults' ' Two Connecting Rooms'
 ' Stayed 29 nights' ' Quintuple Room'
 ' Superior Double Room with Balcony' ' Studio King Family'
 ' Superior Double Room with Internal View'
 ' Superior Double Room Disability Access'
 ' Standard Double Room with Park View' ' Special Offer Double Room'
 ' Special Offer Queen Room' ' Family Suite'
 ' Superior Double Room with Garden View']

[None ' Submitted from a mobile device ' ' Stayed 1 night'
 ' Stayed 3 nights' ' Stayed 4 nights' ' Stayed 2 nights '
 ' Stayed 2 nights' ' Stayed 3 nights ' ' Stayed 4 nights '
 ' Stayed 1 night ' ' Stayed 5 nights ' ' Stayed 7 nights '
 ' Stayed 5 nights' ' Stayed 6 nights' ' Stayed 9 nights'
 ' Stayed 7 nights' ' Stayed 11 nights' ' Stayed 6 nights '
 ' Stayed 8 nights' ' Stayed 10 nights' ' Stayed 14 nights '
 ' Stayed 18 nights' ' Stayed 9 nights ' ' Stayed 20 nights'
 ' Stayed 14 nights']

[None ' Submitted from a mobile device ']

In [27]:
# Process the Tags into new columns
# The file Hotel_Reviews_Tags.py, identifies the most important tags
# Leisure trip, Couple, Solo traveler, Business trip, Group combined with Travelers with friends, 
# Family with young children, Family with older children, With a pet
df["Leisure_trip"] = df.Tags.apply(lambda tag: 1 if "Leisure trip" in tag else 0)
df["Couple"] = df.Tags.apply(lambda tag: 1 if "Couple" in tag else 0)
df["Solo_traveler"] = df.Tags.apply(lambda tag: 1 if "Solo traveler" in tag else 0)
df["Business_trip"] = df.Tags.apply(lambda tag: 1 if "Business trip" in tag else 0)
df["Group"] = df.Tags.apply(lambda tag: 1 if "Group" in tag or "Travelers with friends" in tag else 0)
df["Family_with_young_children"] = df.Tags.apply(lambda tag: 1 if "Family with young children" in tag else 0)
df["Family_with_older_children"] = df.Tags.apply(lambda tag: 1 if "Family with older children" in tag else 0)
df["With_a_pet"] = df.Tags.apply(lambda tag: 1 if "With a pet" in tag else 0)

In [28]:
df

,Hotel_Address,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Total_Number_of_Reviews,Positive_Review,Reviewer_Score,Tags,Leisure_trip,Couple,Solo_traveler,Business_trip,Group,Family_with_young_children,Family_with_older_children,With_a_pet
0,"Amsterdam, Netherlands",7.8,Hotel Arena,Russia,I am so angry that i made this post available...,405,Only the park outside of the hotel was beauti...,2.9,"Leisure trip, Couple, Duplex Double Room, Sta...",1,1,0,0,0,0,0,0
1,"Amsterdam, Netherlands",7.8,Hotel Arena,Ireland,No Negative,405,No real complaints the hotel was great great ...,7.5,"Leisure trip, Couple, Duplex Double Room, Sta...",1,1,0,0,0,0,0,0
2,"Amsterdam, Netherlands",7.8,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,405,Location was good and staff were ok It is cut...,7.1,"Leisure trip, Family with young children, Dup...",1,0,0,0,0,1,0,0
3,"Amsterdam, Netherlands",7.8,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,405,Great location in nice surroundings the bar a...,3.8,"Leisure trip, Solo traveler, Duplex Double Ro...",1,0,1,0,0,0,0,0
4,"Amsterdam, Netherlands",7.8,Hotel Arena,New Zealand,You When I booked with your company on line y...,405,Amazing location and building Romantic setting,6.7,"Leisure trip, Couple, Suite, Stayed 2 nights,...",1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,325,location,7.0,"Leisure trip, Family with older children, 2 r...",1,0,0,0,0,0,1,0
515734,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,325,Breakfast was ok and we got earlier check in,5.8,"Leisure trip, Family with young children, Sta...",1,0,0,0,0,1,0,0
515735,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,325,No Positive,2.5,"Leisure trip, Family with older children, 2 r...",1,0,0,0,0,0,1,0
515736,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Mexico,No Negative,325,The rooms are enormous and really comfortable...,8.8,"Leisure trip, Group, Standard Triple Room, St...",1,0,0,0,1,0,0,0
515737,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,325,staff was very kind,8.3,"Leisure trip, Family with young children, 2 r...",1,0,0,0,0,1,0,0

In [29]:
# Saving new data file with calculated columns
print("Saving results to Hotel_Reviews_Filtered.csv")
df.to_csv(r'../data/Hotel_Reviews_Filtered.csv', index = False)

Saving results to Hotel_Reviews_Filtered.csv

In [30]:
import time
import pandas as pd
import nltk as nltk
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
nltk.download('stopwords')

# Load the filtered hotel reviews from CSV
df = pd.read_csv('../data/Hotel_Reviews_Filtered.csv')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/oak/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package stopwords to /home/oak/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [31]:
# Remove Stop Words

start = time.time()
cache = set(stopwords.words('english'))

def remove_stopwords(review):
    text = ' '.join([word for word in review.split() if word not in cache])
    return text

# Remove the stop words from both columns
df.Negative_Review = df.Negative_Review.apply(remove_stopwords)
df.Positive_Review = df.Positive_Review.apply(remove_stopwords)

In [32]:

from nltk.sentiment.vader import SentimentIntensityAnalyzer

vader_sentiment = SentimentIntensityAnalyzer()

def calc_sentiment(review):
    if review == "No Negative" or review == "No Positive":
        return 0
    return vader_sentiment.polarity_scores(review)['compound']

In [33]:
# Add a negative sentiment and positive sentiment column
print("Calculating sentiment columns for both positive and negative reviews")
start = time.time()
df['Negative_Sentiment'] = df.Negative_Review.apply(calc_sentiment)
df['Positive_Sentiment'] = df.Positive_Review.apply(calc_sentiment)
end = time.time()
print("Calculating sentiment took " + str(round(end - start, 2)) + " seconds")

Calculating sentiment columns for both positive and negative reviews
Calculating sentiment took 57.66 seconds

In [34]:
df

,Hotel_Address,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Total_Number_of_Reviews,Positive_Review,Reviewer_Score,Tags,Leisure_trip,Couple,Solo_traveler,Business_trip,Group,Family_with_young_children,Family_with_older_children,With_a_pet,Negative_Sentiment,Positive_Sentiment
0,"Amsterdam, Netherlands",7.8,Hotel Arena,Russia,I angry made post available via possible sites...,405,Only park outside hotel beautiful,2.9,"Leisure trip, Couple, Duplex Double Room, Sta...",1,1,0,0,0,0,0,0,-0.9543,0.5994
1,"Amsterdam, Netherlands",7.8,Hotel Arena,Ireland,No Negative,405,No real complaints hotel great great location ...,7.5,"Leisure trip, Couple, Duplex Double Room, Sta...",1,1,0,0,0,0,0,0,0.0000,0.9538
2,"Amsterdam, Netherlands",7.8,Hotel Arena,Australia,Rooms nice elderly bit difficult rooms two sto...,405,Location good staff ok It cute hotel breakfast...,7.1,"Leisure trip, Family with young children, Dup...",1,0,0,0,0,1,0,0,-0.1280,0.8720
3,"Amsterdam, Netherlands",7.8,Hotel Arena,United Kingdom,My room dirty I afraid walk barefoot floor loo...,405,Great location nice surroundings bar restauran...,3.8,"Leisure trip, Solo traveler, Duplex Double Ro...",1,0,1,0,0,0,0,0,-0.8176,0.9260
4,"Amsterdam, Netherlands",7.8,Hotel Arena,New Zealand,You When I booked company line showed pictures...,405,Amazing location building Romantic setting,6.7,"Leisure trip, Couple, Suite, Stayed 2 nights,...",1,1,0,0,0,0,0,0,-0.1022,0.7579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Kuwait,trolly staff help take luggage room,325,location,7.0,"Leisure trip, Family with older children, 2 r...",1,0,0,0,0,0,1,0,0.4019,0.0000
515734,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 surely 4,325,Breakfast ok got earlier check,5.8,"Leisure trip, Family with young children, Sta...",1,0,0,0,0,1,0,0,0.6597,0.2960
515735,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Egypt,The ac useless It hot week vienna gave hot air,325,No Positive,2.5,"Leisure trip, Family with older children, 2 r...",1,0,0,0,0,0,1,0,-0.4215,0.0000
515736,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Mexico,No Negative,325,The rooms enormous really comfortable I believ...,8.8,"Leisure trip, Group, Standard Triple Room, St...",1,0,0,0,1,0,0,0,0.0000,0.5563
515737,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Hungary,I 3rd floor It work Free Wife,325,staff kind,8.3,"Leisure trip, Family with young children, 2 r...",1,0,0,0,0,1,0,0,0.5106,0.5267

In [35]:
df = df.sort_values(by=['Negative_Sentiment'], ascending=True)
print(df[["Negative_Review", "Negative_Sentiment"]])

df = df.sort_values(by=['Positive_Sentiment'], ascending=True)
print(df[["Positive_Review", "Positive_Sentiment"]])

                                          Negative_Review  Negative_Sentiment
186584  So bad experience memories I hotel The first n...             -0.9920
129503  First charged twice room booked booking second...             -0.9896
307286  The staff Had bad experience even booking Janu...             -0.9889
201953  Everything DO NOT STAY AT THIS HOTEL I never i...             -0.9886
452092  No WLAN room Incredibly rude restaurant staff ...             -0.9884
...                                                   ...                 ...
138365  Wifi terribly slow I speed test network upload...              0.9938
79215   I find anything hotel first I walked past hote...              0.9938
278506  The property great location There bakery next ...              0.9945
339189  Guys I like hotel I wish return next year Howe...              0.9948
480509  I travel lot far visited countless number hote...              0.9957

[515738 rows x 2 columns]
                                          Positive_Review  Positive_Sentiment
137893  Bathroom Shower We going stay twice hotel 2 ni...             -0.9820
5839    I completely disappointed mad since reception ...             -0.9780
64158   get everything extra internet parking breakfas...             -0.9751
124178  I didnt like anythig Room small Asked upgrade ...             -0.9721
489137  Very rude manager abusive staff reception Dirt...             -0.9703
...                                                   ...                 ...
417442  We celebrated wedding night Langham I commend ...              0.9985
322920  From moment stepped doors Guesthouse Hotel sta...              0.9985
287419  When first arrived hotel staff incredibly frie...              0.9987
132492  We arrived super cute boutique hotel area expl...              0.9987
179007  We went Andaz 40th birthday celebration This a...              0.9991

[515738 rows x 2 columns]

In [36]:
df

,Hotel_Address,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Total_Number_of_Reviews,Positive_Review,Reviewer_Score,Tags,Leisure_trip,Couple,Solo_traveler,Business_trip,Group,Family_with_young_children,Family_with_older_children,With_a_pet,Negative_Sentiment,Positive_Sentiment
137893,"London, United Kingdom",9.3,South Place Hotel,Brazil,No windows claustrophobic place even superior ...,326,Bathroom Shower We going stay twice hotel 2 ni...,2.5,"Couple, Executive Double Room, Stayed 1 night",0,1,0,0,0,0,0,0,-0.9849,-0.9820
5839,"London, United Kingdom",8.4,Park Plaza County Hall London,Saudi Arabia,I completely disappointed mad since reception ...,2223,I completely disappointed mad since reception ...,3.8,"Leisure trip, Family with young children, Jun...",1,0,0,0,0,1,0,0,-0.9780,-0.9780
64158,"London, United Kingdom",6.8,Britannia International Hotel Canary Wharf,Australia,everything terrible,4789,get everything extra internet parking breakfas...,3.3,"Leisure trip, Couple, Standard Double Room wi...",1,1,0,0,0,0,0,0,-0.4767,-0.9751
124178,"London, United Kingdom",8.3,Caesar Hotel,United States Minor Outlying Islands,Everything I worst experience ever best friend...,317,I didnt like anythig Room small Asked upgrade ...,3.3,"Leisure trip, Group, Standard Double Room, St...",1,0,0,0,1,0,0,0,0.1082,-0.9721
489137,"Milan, Italy",7.8,Hotel Da Vinci,United Kingdom,No Negative,1877,Very rude manager abusive staff reception Dirt...,2.5,"Leisure trip, Family with young children, Qua...",1,0,0,0,0,1,0,0,0.0000,-0.9703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417442,"London, United Kingdom",9.3,The Langham London,United Kingdom,Absolutely nothing bad speak Langham excelled ...,559,We celebrated wedding night Langham I commend ...,10.0,"Leisure trip, Solo traveler, Executive Room, ...",1,0,1,0,0,0,0,0,0.9426,0.9985
322920,"Vienna, Austria",9.5,The Guesthouse Vienna,Ireland,No Negative,292,From moment stepped doors Guesthouse Hotel sta...,10.0,"Leisure trip, Couple, Superior Double Room, S...",1,1,0,0,0,0,0,0,0.0000,0.9985
287419,"London, United Kingdom",8.6,Thistle Holborn The Kingsley,United Kingdom,No Negative,709,When first arrived hotel staff incredibly frie...,10.0,"Leisure trip, Couple, Deluxe Double Room, Sta...",1,1,0,0,0,0,0,0,0.0000,0.9987
132492,"Paris, France",9.2,Grand Pigalle Hotel,United States of America,The highest floor elevator access take elevato...,114,We arrived super cute boutique hotel area expl...,9.6,"Leisure trip, Couple, Room Sous les Toits 18m...",1,1,0,0,0,0,0,0,0.6124,0.9987
179007,"London, United Kingdom",9.0,Andaz London Liverpool Street,Belgium,There nothing really nothing,519,We went Andaz 40th birthday celebration This a...,10.0,"Leisure trip, Couple, Queen Room, Stayed 2 ni...",1,1,0,0,0,0,0,0,0.0000,0.9991

In [37]:
# Reorder the columns (This is cosmetic, but to make it easier to explore the data later)
df = df.reindex(["Hotel_Name", "Hotel_Address", "Total_Number_of_Reviews", "Average_Score", "Reviewer_Score", "Negative_Sentiment", "Positive_Sentiment", "Reviewer_Nationality", "Leisure_trip", "Couple", "Solo_traveler", "Business_trip", "Group", "Family_with_young_children", "Family_with_older_children", "With_a_pet", "Negative_Review", "Positive_Review"], axis=1)
df

,Hotel_Name,Hotel_Address,Total_Number_of_Reviews,Average_Score,Reviewer_Score,Negative_Sentiment,Positive_Sentiment,Reviewer_Nationality,Leisure_trip,Couple,Solo_traveler,Business_trip,Group,Family_with_young_children,Family_with_older_children,With_a_pet,Negative_Review,Positive_Review
137893,South Place Hotel,"London, United Kingdom",326,9.3,2.5,-0.9849,-0.9820,Brazil,0,1,0,0,0,0,0,0,No windows claustrophobic place even superior ...,Bathroom Shower We going stay twice hotel 2 ni...
5839,Park Plaza County Hall London,"London, United Kingdom",2223,8.4,3.8,-0.9780,-0.9780,Saudi Arabia,1,0,0,0,0,1,0,0,I completely disappointed mad since reception ...,I completely disappointed mad since reception ...
64158,Britannia International Hotel Canary Wharf,"London, United Kingdom",4789,6.8,3.3,-0.4767,-0.9751,Australia,1,1,0,0,0,0,0,0,everything terrible,get everything extra internet parking breakfas...
124178,Caesar Hotel,"London, United Kingdom",317,8.3,3.3,0.1082,-0.9721,United States Minor Outlying Islands,1,0,0,0,1,0,0,0,Everything I worst experience ever best friend...,I didnt like anythig Room small Asked upgrade ...
489137,Hotel Da Vinci,"Milan, Italy",1877,7.8,2.5,0.0000,-0.9703,United Kingdom,1,0,0,0,0,1,0,0,No Negative,Very rude manager abusive staff reception Dirt...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417442,The Langham London,"London, United Kingdom",559,9.3,10.0,0.9426,0.9985,United Kingdom,1,0,1,0,0,0,0,0,Absolutely nothing bad speak Langham excelled ...,We celebrated wedding night Langham I commend ...
322920,The Guesthouse Vienna,"Vienna, Austria",292,9.5,10.0,0.0000,0.9985,Ireland,1,1,0,0,0,0,0,0,No Negative,From moment stepped doors Guesthouse Hotel sta...
287419,Thistle Holborn The Kingsley,"London, United Kingdom",709,8.6,10.0,0.0000,0.9987,United Kingdom,1,1,0,0,0,0,0,0,No Negative,When first arrived hotel staff incredibly frie...
132492,Grand Pigalle Hotel,"Paris, France",114,9.2,9.6,0.6124,0.9987,United States of America,1,1,0,0,0,0,0,0,The highest floor elevator access take elevato...,We arrived super cute boutique hotel area expl...
179007,Andaz London Liverpool Street,"London, United Kingdom",519,9.0,10.0,0.0000,0.9991,Belgium,1,1,0,0,0,0,0,0,There nothing really nothing,We went Andaz 40th birthday celebration This a...

In [38]:
df = df.reset_index(drop=True)
df

,Hotel_Name,Hotel_Address,Total_Number_of_Reviews,Average_Score,Reviewer_Score,Negative_Sentiment,Positive_Sentiment,Reviewer_Nationality,Leisure_trip,Couple,Solo_traveler,Business_trip,Group,Family_with_young_children,Family_with_older_children,With_a_pet,Negative_Review,Positive_Review
0,South Place Hotel,"London, United Kingdom",326,9.3,2.5,-0.9849,-0.9820,Brazil,0,1,0,0,0,0,0,0,No windows claustrophobic place even superior ...,Bathroom Shower We going stay twice hotel 2 ni...
1,Park Plaza County Hall London,"London, United Kingdom",2223,8.4,3.8,-0.9780,-0.9780,Saudi Arabia,1,0,0,0,0,1,0,0,I completely disappointed mad since reception ...,I completely disappointed mad since reception ...
2,Britannia International Hotel Canary Wharf,"London, United Kingdom",4789,6.8,3.3,-0.4767,-0.9751,Australia,1,1,0,0,0,0,0,0,everything terrible,get everything extra internet parking breakfas...
3,Caesar Hotel,"London, United Kingdom",317,8.3,3.3,0.1082,-0.9721,United States Minor Outlying Islands,1,0,0,0,1,0,0,0,Everything I worst experience ever best friend...,I didnt like anythig Room small Asked upgrade ...
4,Hotel Da Vinci,"Milan, Italy",1877,7.8,2.5,0.0000,-0.9703,United Kingdom,1,0,0,0,0,1,0,0,No Negative,Very rude manager abusive staff reception Dirt...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,The Langham London,"London, United Kingdom",559,9.3,10.0,0.9426,0.9985,United Kingdom,1,0,1,0,0,0,0,0,Absolutely nothing bad speak Langham excelled ...,We celebrated wedding night Langham I commend ...
515734,The Guesthouse Vienna,"Vienna, Austria",292,9.5,10.0,0.0000,0.9985,Ireland,1,1,0,0,0,0,0,0,No Negative,From moment stepped doors Guesthouse Hotel sta...
515735,Thistle Holborn The Kingsley,"London, United Kingdom",709,8.6,10.0,0.0000,0.9987,United Kingdom,1,1,0,0,0,0,0,0,No Negative,When first arrived hotel staff incredibly frie...
515736,Grand Pigalle Hotel,"Paris, France",114,9.2,9.6,0.6124,0.9987,United States of America,1,1,0,0,0,0,0,0,The highest floor elevator access take elevato...,We arrived super cute boutique hotel area expl...
515737,Andaz London Liverpool Street,"London, United Kingdom",519,9.0,10.0,0.0000,0.9991,Belgium,1,1,0,0,0,0,0,0,There nothing really nothing,We went Andaz 40th birthday celebration This a...

In [39]:
print("Saving results to Hotel_Reviews_NLP.csv")
df.to_csv(r"../data/Hotel_Reviews_NLP.csv", index = False)

Saving results to Hotel_Reviews_NLP.csv